.navbar {
  padding: 30px 40px;
  position: sticky;
  width: 15%;
  border-radius: 40px;  
  top: 10px;
  z-index: 10;
  background-color: #1c1d2073;
  margin: 0 auto; 
  backdrop-filter: blur(8px); 
  transition: top 0.3s ease-in-out; 
}

.navbar.hidden {
  top: -100px; 
}

.navlinks {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navlinks li {
  margin-right: 20px;
}

.navlinks li a {
  text-decoration: none;
  color: #EEEE;
  font-weight: 900;
  font-size: 1.4em;
  transition: all .2s;
}

.navlinks li a:hover {
  color: #004c50;
}

.navBTN {
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border: .1px solid #240A34;
  border-radius: 20px;
  font-weight: 900;
  background-color:#240a3400; 
  transition: all .5s;
}

.navBTN a {
  text-decoration: none;
  color: #EABE6C;
}

.navBTN:hover {
  background-color:#240a34; 
  cursor: pointer;
  transform: scale(1.05);
}
