.hero-container {
    height: 70vh;
    background-color: #999d9e;
  }
  
  .hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

  }
  
  .hero-info {
    flex: 1;
    padding-left: 10em;
    color: rgb(255, 255, 255);
    
  }
  
  .text-change{
    color: #EABE6C;

  }

  .hero-info h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    filter: drop-shadow(30px 10px 4px #00000052);
  }
  
  .hero-info p {
    font-size: 1.8rem;
    font-family: 'Satoshi', sans-serif;
    filter: drop-shadow(30px 10px 4px #00000052);
  }
  
  .hero-image {
    flex: 1;
    
  }
  
  .hero-image img{
    width: 40vw;
    margin-top: -6em;
    filter: drop-shadow(30px 10px 4px #00000052);
    animation: slideFromLeft 10s ease forwards infinite;
  }

  .heroBTN{
    margin-left: 5em;
    padding: 20px 30px;
    border-radius: 40px;
    background-color:#EABE6C; 
    font-weight: bold;
    font-size: 1.5em;
    border: .1px solid #EABE6C;
    transition: all .3s;

  }

  .heroBTN a{
    color: #676464ee;
    text-decoration: none;
  }

  .heroBTN a:hover{
    color: #EABE6C;
  }

  .heroBTN:hover{
    background-color:#240a3400; 
    color: #EABE6C;
    cursor: pointer;
  }

  @keyframes slideFromLeft {
    0%,100% {
      transform: translateX(-10%);
    }
    50% {
      opacity: 1;
      transform: translateX(10%);
    }
  }

  @media (max-width: 900px) {
 .hero-container {
  height: 100vh; 
  background-color: #999d9e;
}

.hero-content {
  flex-direction: column; 
  align-items: center; 
}

.hero-info {
  padding: 2em;
  text-align: center;
}

.hero-info h1 {
  font-size: 2rem; 
  margin-bottom: 5px; 
}

.hero-info p {
  font-size: 1.4rem; 
}

.hero-image img {
  width: 80%; 
  max-width: 300px;
  margin-top: -4em;
}

.heroBTN {
  margin: 1em 0;
}
  }