.hero-container {
    height: 70vh;
    background-color: #999d9e;
  }
  
  .hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

  }
  
  .hero-info {
    flex: 1;
    padding-left: 10em;
    color: rgb(255, 255, 255);
    
  }
  
  .text-change{
    color: #EABE6C;

  }

  .hero-info h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    filter: drop-shadow(30px 10px 4px #00000052);
  }
  
  .hero-info p {
    font-size: 1.8rem;
    font-family: 'Satoshi', sans-serif;
    filter: drop-shadow(30px 10px 4px #00000052);
  }
  
  .hero-image {
    flex: 1;
    
  }
  
  .hero-image img{
    width: 40vw;
    margin-top: -6em;
    filter: drop-shadow(30px 10px 4px #00000052);
    animation: slideFromLeft 10s ease forwards infinite;
  }

  .heroBTN{
    margin-left: 5em;
    padding: 20px 30px;
    border-radius: 40px;
    background-color:#EABE6C; 
    color: #676464ee;
    font-weight: bold;
    font-size: 1.5em;
    border: .1px solid #EABE6C;
    transition: all .5s cubic-bezier(.17,.67,.83,.67);
  }

  .heroBTN:hover{
    background-color:#240a3400; 
    color: #EABE6C;
    cursor: pointer;
  }

  @keyframes slideFromLeft {
    0%,100% {
      transform: translateX(-10%);
    }
    50% {
      opacity: 1;
      transform: translateX(10%);
    }
  }

  @media (max-width: 900px) {
 .hero-container {
  height: 100vh; /* Change height to 100vh for better visibility on small screens */
  background-color: #999d9e;
}

.hero-content {
  flex-direction: column; /* Change flex direction to column for small screens */
  align-items: center; /* Center content horizontally */
}

.hero-info {
  padding: 2em; /* Reduce padding for smaller screens */
  text-align: center; /* Center text */
}

.hero-info h1 {
  font-size: 2rem; /* Decrease font size for smaller screens */
  margin-bottom: 5px; /* Reduce margin bottom */
}

.hero-info p {
  font-size: 1.4rem; /* Decrease font size for smaller screens */
}

.hero-image img {
  width: 80%; /* Reduce image width for smaller screens */
  max-width: 300px; /* Set a maximum width */
  margin-top: -4em; /* Adjust margin top */
}

.heroBTN {
  margin: 1em 0; /* Adjust margin */
}
  }