.hero-container {
    height: 75vh;
    border-bottom: 3px solid #c07f05;
  }
  
  .hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

  }
  
  .hero-info {
    flex: 1;
    padding-left: 10em;
    color: beige;
    
  }
  
  .text-change{
    color: #c07f05;

  }

  .hero-info h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    filter: drop-shadow(30px 10px 4px #00000052);

  }
  
  .hero-info p {
    font-size: 1.2rem;
    filter: drop-shadow(30px 10px 4px #00000052);
  }
  
  .hero-image {
    flex: 1;
    
  }
  
  .hero-image img{
    width: 40vw;
    filter: drop-shadow(30px 10px 4px #00000052);
    animation: slideFromLeft 10s ease forwards infinite;
  }

  .heroBTN{
    margin-left: 5em;
    padding: 10px 20px;
    border-radius: 20px;
    background-color:#240A34; 
    color: #EABE6C;
    font-weight: bold;
    font-size: 14px;
    border: .1px solid #240A34;
    transition: all .5s;
  }

  .heroBTN:hover{
    background-color:#240a3400; 
    color: #ffa200;
    cursor: pointer;
  }

  @keyframes slideFromLeft {
    0%,100% {
      transform: translateX(-10%);
    }
    50% {
      opacity: 1;
      transform: translateX(10%);
    }
  }

 