.project{
    display: flex;
    width: 80%;
    padding: 50px 100px 50px 100px;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #000;
    cursor: pointer;
    transition: all .2s linear;
    color: #676869;
}

.project:hover{
    opacity: 0.5;
}

.project h2{
    font-size: 5em;
    font-weight: 400;
    margin: 0px;
    transition: all .2s linear;
}

.project:hover h2{
    transform: translateX(-10px);
    
}

.project p{
    font-weight: 300;
    transition: all .2s linear;
}

.project:hover p{
    transform: translateX(10px);
}
